/************************************************************************************* ************* *************/
/*******************************************  Généralités *******************************************************/
/***************************************************************************************************************/

:root{
    --main-color: #0065fc;
    --second-color:#deebff;
    --light-grey-color:#f2f2f2;   
}
body {
	display: flex;
	justify-content: center;
    margin: 0px;
    
}
.wrapper{ 
    max-width: 1440px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;   
    
}
/*defini la couleur de tout les icones FontAwsome*/
i{
    color: var(--main-color);
}
/* retirer toutes les decorations sur les liens sur le projet*/
a{
    text-decoration: none; 
    color: black;   
}

/* De manière générale implementer cette police dans la page*/
*{
    font-family: 'raleway', sans-serif; 
}
h2{
    font-size: 1.4rem;
}
p{
    font-size: 1rem;
}
img{
    object-fit: cover;
}
.card-hebergement, .card-populaire, .card-activite{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    background-color: white;
}

h4{
    font-size: 1rem;
    
}
.card-p{
    font-size: 0.87rem;
}
.card-i{
    font-size: 0.7rem;
}


/***************************************************************************************************************/
/*******************************************  Header *******************************************************/
/***************************************************************************************************************/

.header-nav{
    width: 100%;
    height: 80px; 
    display: flex;  
    justify-content: space-between; 
    align-items: flex-end; 
    margin-bottom: 60px;
     
}
.header-nav__logo img{
    width: 70px;
    height: 20px;
}
.header-nav__menu{
    width: 40%;
    display: flex;
    justify-content: flex-end;  
}
.header-nav__menu a{
    text-align: center;
    padding: 50px 60px 15px 60px;
}
.menu-a-highlight:hover{
    color:var(--main-color);
    border-top: 1px solid var(--main-color);
}

/***************************************************************************************************************/
/*******************************************  Recherche *******************************************************/
/***************************************************************************************************************/
.recherche{
    width: 100%;
}

.recherche h2{
    margin-bottom: -0.5rem;
}
.recherche__formulaire label{
    background-color: var(--light-grey-color);
    width: 50px;
}
input[type="search"]{
   
    width: 270px;
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-left-style: none;
    border-right-style: none;
    line-height: 44px;
    padding-left: 20px;     
 }

input[type="submit"]{
    color: white;
    font-size: large;
    background-color: var(--main-color);
    height: 49px;
    width: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;   
}
.recherche_formulaire_label{
    display: flex;
    font-size: larger;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: var(--light-grey-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}
form{
    display: flex;
}
.btn_recherche_mobile{
    background-color: var(--main-color);
    height: 49px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    display: none;  
}

/*définit le style du placeholder*/
::placeholder{
    font-size: large;
    color: black;
}
/* permet d'enlever la bordure extérieure du input search lorsqu'on clique dessus */
input:focus{
    outline: none;
 }

 /***************************************************************************************************************/
/*******************************************  Filtres  *******************************************************/
/***************************************************************************************************************/

/* définit le style des 4 élements de filtre */
.element_filtre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 50px;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 700; 
  border: solid 1px var(--light-grey-color); 
  border-radius: 25px;
}

.filtre_eco_famille{
    display: flex;
    gap: 20px;       
}

.filtre_romantique_animaux{
    display: flex;
    gap: 20px;    
}

.container_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.element_filtre:hover{
    background-color: var(--second-color);
 }
 /***************************************************************************************************************/
/*******************************************  Hebergement marseille  *******************************************************/
/***************************************************************************************************************/

.card-hebergement img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px white;
    box-sizing: border-box;       
}
 
.hebergement{
    background-color: var(--light-grey-color);
    min-height: 626px;
    width: 65%;
    border-radius: 20px;
    padding: 10px 40px 0px 40px;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}

.hebergement_ligne_1_2{
    display: flex;
    flex-direction: column;
    gap: 30px; 
    width: 100%; 
}

.hebergement_ligne1{
    display: flex;
    justify-content: space-between;
    width: 100%;  
}
.hebergement_ligne2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-hebergement{
    width: 30%;
    height: 100%; 
}

.card-hebergement_content{
    padding-left: 1rem;
    padding-bottom: 0.6rem;
}

.card-hebergement_content h4, .card-hebergement_content p {
    margin-top: 4px;
    margin-bottom: 9px;   
}

.hebergement__affiche-plus{
    font-size: 1.2rem;
    font-weight: 700; 
    padding-bottom: 30px; 
    padding-top: 30px;    
}
 /***************************************************************************************************************/
/*******************************************  Les plus populaires  *******************************************************/
/***************************************************************************************************************/
.populaire{
    background-color: var(--light-grey-color);
    min-height: 626px;
    width: 32%;
    border-radius: 20px;
    padding: 10px 40px 30px 40px;
    box-sizing: border-box; 
}
.header-populaire{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.container-card-populaire{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 15px;
}

.card-populaire a{
    width: 100%;
    height: 144px;
    display: flex;       
    
}

.card-populaire img{
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    border: solid 5px white;  
    box-sizing: border-box;
}

.card-populaire-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 10px;
    padding-bottom: 10px;
}
/*definit le style des titre dans les cards de droite*/
.card-populaire-content h4{
    margin-top: 8px;
    margin-bottom: 7px;
     
}



 /***************************************************************************************************************/
/*******************************************  Section global hebergement  *******************************************************/
/***************************************************************************************************************/


.hebergement-and-populaire{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
