/************************************************************************************* ************* *************/
/*******************************************  Généralités *******************************************************/
/***************************************************************************************************************/

/*declaration des couleurs qui seront utilisé dans le site*/
:root{
    --main-color: #0065fc;
    --second-color:#deebff;
    --light-grey-color:#f2f2f2;   
}
body {
	display: flex;
	justify-content: center;
    margin: 0px;   
}
/*definition de la dimension de la page*/
.wrapper{ 
    max-width: 1440px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;       
}
/*defini la couleur de tout les icones FontAwsome*/
i{
    color: var(--main-color);
}
/* retirer toutes les decorations sur les liens*/
a{
    text-decoration: none; 
    color: black;   
}
/* De manière générale implementer cette police dans la page*/
*{
    font-family: 'raleway', sans-serif; 
}
/* definition de la taille de police des différents titre et paragraphe*/
h3{
    font-size: 1.1rem;
}
h2{
    font-size: 1.4rem;
}
p{
    font-size: 1rem;
}
h4{
    font-size: 1rem;   
}
img{
    object-fit: cover;
}
/* declartion des propiétés communes de toutes les cards du projet*/
.card-hebergement, .card-populaire, .card-activite{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    background-color: white;
}
/*declation des taille de police des textes dans les cards*/
.card-p{
    font-size: 0.87rem;
}
.card-i{
    font-size: 0.7rem;
}

/***************************************************************************************************************/
/*******************************************  Header *******************************************************/
/***************************************************************************************************************/
.header-nav{
    width: 100%;
    height: 80px; 
    display: flex;  
    justify-content: space-between; 
    align-items: flex-end; 
    margin-bottom: 60px;    
}
.header-nav__logo img{
    width: 70px;
    height: 20px;
    object-fit: contain;
}
.header-nav__menu{
    width: 40%;
    display: flex;
    justify-content: flex-end;  
}
.header-nav__menu a{
    text-align: center;
    padding: 50px 55px 15px 55px;
}
.menu-a-highlight:hover{
    color:var(--main-color);
    border-top: 1px solid var(--main-color);
}
/***************************************************************************************************************/
/*******************************************  Recherche *******************************************************/
/***************************************************************************************************************/
.recherche{
    width: 100%;
}
.recherche h2{
    margin-bottom: -0.5rem;
}
.recherche__formulaire label{
    background-color: var(--light-grey-color);
    width: 50px;
}
input[type="search"]{   
    width: 270px;
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-left-style: none;
    border-right-style: none;
    line-height: 44px;
    padding-left: 20px;     
 }
input[type="submit"]{
    color: white;
    font-size: large;
    background-color: var(--main-color);
    height: 49px;
    width: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;   
}
.recherche_formulaire_label{
    display: flex;
    font-size: larger;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: var(--light-grey-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}
form{
    display: flex;
}
.btn_recherche_mobile{
    background-color: var(--main-color);
    height: 49px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    display: none;  
}
/*définit le style du placeholder*/
::placeholder{
    font-size: large;
    color: black;
}
/* permet d'enlever la bordure extérieure du input search lorsqu'on clique dessus */
input:focus{
    outline: none;
 }
 /***************************************************************************************************************/
/*******************************************  Filtres  *******************************************************/
/***************************************************************************************************************/

/* définit le style des 4 élements de filtre */
.element_filtre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 50px;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 700; 
  border: solid 1px var(--light-grey-color); 
  border-radius: 25px;
}
.filtre_eco_famille{
    display: flex;
    gap: 20px;       
}
.filtre_romantique_animaux{
    display: flex;
    gap: 20px;    
}
.container_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.element_filtre:hover{
    background-color: var(--second-color);
 }
 .filtre-info{
    display: flex;
    gap: 10px;
    margin-top: 43px;
 }
 /***************************************************************************************************************/
/*******************************************  Hebergement marseille  *******************************************************/
/***************************************************************************************************************/
.card-hebergement img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px white;
    box-sizing: border-box;       
}
.hebergement{
    background-color: var(--light-grey-color);
    min-height: 626px;
    width: 65%;
    border-radius: 20px;
    padding: 10px 40px 0px 40px;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;   
}
.hebergement_ligne_1_2{
    display: flex;
    flex-direction: column;
    gap: 30px; 
    width: 100%; 
}
.hebergement_ligne1{
    display: flex;
    justify-content: space-between;
    width: 100%;  
}
.hebergement_ligne2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-hebergement{
    width: 30%;
    height: 100%; 
}
.card-hebergement_content{
    padding-left: 1rem;
    padding-bottom: 0.6rem;
}
.card-hebergement_content h4, .card-hebergement_content p {
    margin-top: 4px;
    margin-bottom: 9px;   
}
.hebergement__affiche-plus{
    font-size: 1.2rem;
    font-weight: 700; 
    padding-bottom: 30px; 
    padding-top: 30px;    
}
 /***************************************************************************************************************/
/*******************************************  Les plus populaires  *******************************************************/
/***************************************************************************************************************/
.populaire{
    background-color: var(--light-grey-color);
    min-height: 626px;
    width: 32%;
    border-radius: 20px;
    padding: 10px 40px 30px 40px;
    box-sizing: border-box; 
}
.header-populaire{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.container-card-populaire{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 15px;
}
.card-populaire a{
    width: 100%;
    height: 144px;
    display: flex;          
}
.card-populaire img{
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    border: solid 5px white;  
    box-sizing: border-box;
}
.card-populaire-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.card-populaire-content h4{
    margin-top: 8px;
    margin-bottom: 7px;     
}
 /***************************************************************************************************************/
/*******************************************  Section global hebergement  *******************************************************/
/***************************************************************************************************************/
.hebergement-and-populaire{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
 /***************************************************************************************************************/
/*******************************************  Section activité à marseille  *******************************************************/
/***************************************************************************************************************/
.activites-marseille{
    width: 100%;
    margin-top: 60px;  
}
.container_activites{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding-top: 20px;
    margin-bottom: 61px;
    gap: 30px;
}
.card-activite{
    width: 22%;
    height: 444px;
    display: flex;
    flex-direction: column;
}
.card-activite img{
    height: 389px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;      
}
.nom_activite h5{
    padding-left: 19px;
    margin-top: 15px;
}
 /***************************************************************************************************************/
/*******************************************  Section footer  *******************************************************/
/***************************************************************************************************************/
.container_footer{
    display: flex;
    gap: 15%;
    align-items:flex-start;
    height: 225px;
    width: 100%;
    background-color: var(--light-grey-color);    
}
.list-footer h3{
    padding-left: 40px;
}
/*pour supprimer le padding automatique des element list*/
.list-footer ul li{
    list-style: none;
    padding: 0px 0px 12px 0px;
}

 /***************************************************************************************************************/
  /***************************************************************************************************************/
   /***************************************************************************************************************/
/*******************************************  Media - TABLETTE *******************************************************/
/***************************************************************************************************************/
 /***************************************************************************************************************/
  /***************************************************************************************************************/

/*******************Généralités ************************************/
  @media screen and (max-width: 992px){
    .wrapper{    
        max-width: 992px;
        width: 100%;
        margin: auto;      
    }
    .element_filtre{
        padding: 0 20px;
        font-size: 11px;
    }
    h4{
        margin-top: 0rem;
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }
   
    /*******************************SECTION HEBERGEMENT TABLETTE ********************************/

    .hebergement-and-populaire{
        flex-direction: column;
        justify-content: space-between;
        gap: 53px;
        margin-bottom: 70px;
    }
    .hebergement{
        width: 100%;    
    }
    .card-hebergement_content{
        padding-left: 0.5rem;
        padding-bottom: 0.6rem;
    }
    .populaire{
        width: 100%;
        min-height: 100%;   
    }
    .container-card-populaire{
        flex-direction: row;    
    }
    .card-populaire{
      width: 33%;
      padding-right: 10px;   
    }
    .card-populaire img{
        width: 50%;
    }
    .card-populaire-content{
        padding-top: 2px;
    }
    /********************************SECTION ACTIVITÉ -TABLETTE ********************************/
    .card-activite{
        width: 24%;
        height: 267px;
        display: flex;
        flex-direction: column;
    }
    .card-activite a img{
        height: 211px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;      
    }
    .nom_activite h5{
        margin-top: 10px;
    }
    /**********************************SECTION FOOTER -TABLETTE******************************************/

    .container_footer{
        gap: 5%;   
    }
   
  }

   /***************************************************************************************************************/
  /***************************************************************************************************************/
   /***************************************************************************************************************/
/*******************************************  Media - SMARTPHONE *******************************************************/
/***************************************************************************************************************/
 /***************************************************************************************************************/
  /***************************************************************************************************************/

  @media screen and (max-width: 767px){
    .wrapper{ 
        max-width: 767px;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;    
    }
    /******************************* HEADER-SMARTPHONE *********************************/
    
    .header-nav{
        flex-direction: column;    
        align-items: center;
        padding-bottom: 0px;
        margin-top: 30px;       
    }
    .header-nav__menu{
        width: 100%;
        justify-content: space-evenly;
        gap: 0px;
    }
    .menu-a-highlight{
        width: 50%;
        border-top: none;
        border-bottom: solid 1px transparent ;
        padding-top: 40px;
        padding-bottom: 20px;    
    }
    .menu-a-highlight:hover{
        border-bottom: solid 3px var(--main-color);
        border-top: none;
    }
    /******************************* RECHERCHE-SMARTPHONE *********************************/
    .recherche{
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        box-sizing: border-box;
    }   
    input[type="submit"]{
       display: none;    
    }
    .btn_recherche_mobile{
        justify-content: center;
        align-items: center;
        display: flex;  
    }
    .btn_recherche_mobile i{
        font-size: larger;
        color: white; 
    }
    /******************************* FILTRE-SMARTPHONE *********************************/
    .filtre{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;   
    }
    .container_filtre{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;  
    }
    .filtre_eco_famille {  
     width: 100%;
    }
    .filtre_romantique_animaux {
        width: 100%;
    }
    .container_filtre a {
        justify-content: flex-start;
        width: 50%;
    }
    .element_filtre{
        justify-content: flex-start;
        font-size: 11px;
        padding: 0 13px;
    }
    .filtre-info{
        align-items: baseline;
    }
    /******************************* HEBERGEMENT-SMARTPHONE *********************************/

    /*definit la disposition flex column reverse de la grande section hebergement-and-populaire. Histoire d'avoir populaire avant hebergement*/
    .hebergement-and-populaire{
        flex-direction: column-reverse;
        gap: 0px;     
    }  
    .populaire{   
        border-radius: 0px;
        padding: 30px 20px;  
    }
    .container-card-populaire{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 20px;
    }
    .card-populaire{
        width: 97%;
    }
    .card-populaire img{
        width: 45%;
    }
    .hebergement{
        background-color: transparent;
        height: 100%;
        padding-top: 26px;
        gap: 26px;
        padding-left: 20px;
        padding-right: 20px;  
    }
    .hebergement_ligne_1_2{
        gap: 20px;
    }
    .hebergement_ligne1{
        flex-direction: column;
        gap: 20px;
    }
    .hebergement_ligne2{
        flex-direction: column;
        gap: 20px;
    }
    .card-hebergement{
        width: 100%;     
    }
    .hebergement__affiche-plus{
        display: none;
    }
    /******************************* ACTIVITÉ-SMARTPHONE *********************************/
    .activites-marseille{
        padding-left: 20px;
        padding-right: 20px; 
        box-sizing: border-box; 
    }
    .container_activites{
        flex-direction: column;
        gap: 24px;       
    }
    .card-activite{
        width: 100%;
    }
    .nom_activite h5{
        padding-left: 19px;
        margin-top: 15px;
    }
     /******************************* FOOTER-SMARTPHONE *********************************/
     .container_footer{
        flex-direction: column;
        justify-content: flex-start;    
        height: 100%;
    }
  }